@font-face {
    font-family: 'latin_modern_mono10_italic';
    src: url('web fonts/latinmodernmono_10italic_macroman/weblmmono10-italic-webfont.eot');
    src: url('web fonts/latinmodernmono_10italic_macroman/lmmono10-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('web fonts/latinmodernmono_10italic_macroman/lmmono10-italic-webfont.woff2') format('woff2'),
         url('web fonts/latinmodernmono_10italic_macroman/lmmono10-italic-webfont.woff') format('woff'),
         url('web fonts/latinmodernmono_10italic_macroman/lmmono10-italic-webfont.ttf') format('truetype'),
         url('web fonts/latinmodernmono_10italic_macroman/lmmono10-italic-webfont.svg#latin_modern_mono10_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

body{
    background-image: url('Images/Background1.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;

}

.header_font {
    font-family: latin_modern_mono10_italic;
    font-weight: normal;
    margin-top: 0px;
    
}

.main_logo {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    inline-size: 120px;
    border-bottom: 0px;

}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 1070px;
    margin: auto;
    justify-content: space-between;

}

figure {
    width: 320px;
    margin: 25px 0;
    border: 2px solid #777;
    background-color: white;

}
figure img {
    width: 100%;
    height: 380px;

}

figure figcaption {
    text-align: center;
    padding: 8px 5px;
    font-family: latin_modern_mono10_italic;
    font-size: larger;

}

figure:hover {
    transform: scale(1.1);

  }

/* Recipes Styles */

.recipe_font {
    font-family:'latin_modern_mono10_italic'; 
    font-size: 30px; color: aliceblue; 
    font-weight: 100;
    text-shadow: black;
}

.main_box {
    display:flex;
    flex: wrap;
    width: auto;
    height:auto;
    border:solid white;
    border-width: 2px;
}

.side_box {
    display: flexbox;
    flex-wrap: wrap;
    width: fit-content;
    height: auto;
    border:solid white;
    border-width: 1px;
    margin: 20px 15px;
    padding: 20px 30px;
    background-color: rgba(0, 0, 0, 0.6);

}

.img_container {
    display: flexbox;
    flex-wrap: wrap;
    height:fit-content;
    margin: 20px 15px;
    border:solid white;
    border-width: 1px;
}

.sidetext_container {
    display: flexbox;
    flex-wrap: wrap;
    width: fit-content;
    height: auto;
    margin: 20px 15px;
    background-color: rgba(0, 0, 0, 0.6);
    text-align:center;
    border:solid white;
    border-width: 1px;
    padding: 30px 50px;

    

    
   

}